/*---------------HEADER------------------------*/

#frontImage {
    /*position: absolute;*/
    width: 100%;
    height: 393px; /* remember to change at #page top*/
    /* The image used */
    background-image: url("../images/instrument.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frontText {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    padding-top: 13%;
    color: white;
}

/*-----------------------Page----------*/

#page {
    width: 100%;
    margin: 0px;
    padding: 0px;
    clear: both;
}


#sidebar {
    display: inline;
    float: left;
    width: 30%;
    padding-top: 4% ;
    padding-bottom: 4%;
}

#sidebar p {
    font-size: 18px;
    font-weight: 400;
    padding-left: 30%;
}

#sidebar a {
    text-decoration: none;
    color: #096172;
    font-variant: small-caps;
}

#sidebar b {
    padding-left: 30%;
    font-size: 18px;
    font-weight: 800;
}

#instrumentContent {
    padding-top: 2%;
    display: inline;
    float: right;
    width: 70%;
}

#instrumentContent p {
    font-size: 16px;
    padding-right: 15%;
    padding-left: 4%;
    font-weight: 300;
    line-height: 200%;
}

#instrumentContent h4 {
    font-size: 18px;
    padding-right: 15%;
    padding-left: 4%;
    font-size: 18px;
    line-height: 200%;
    font-weight: 300;
}

#instrumentContent h2 {
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 4%;
    font-weight: 800;
    font-size: 30px;
}

#instrumentContent h1 {
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 2%;
    font-weight: 800;
    font-size: 40px;
}

#instrumentContent img {
    width: 80%;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 15%;
}

#instrumentContent iframe {
    margin-left: 10%;
}