/*---------------HEADER------------------------*/
/* https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel&stacked=h */

#frontImage {
    /*position: absolute;*/
    width: 100%;
    height: 393px; /* remember to change at #page top*/
    /* The image used */
    background-image: url("../images/frontImage.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frontText {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    padding-top: 13%;
    color: white;
}

/*-----------------------Page----------*/

#page {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
	margin-bottom: 100px;
	clear:both;
    padding: 0px;
}

#pageText {
    width: 70%;
    margin: auto;
    margin-top: 90px;
}

#pageText h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

#pageText p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

#links1 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%
}

#linkCard1 {
    display: inline-block;
    width: 70%;
    margin: 2%;
    padding-left: 20px;
    border: 0px;
	text-align: left;
    transform: translate(0, -25%);
}

#linkCard1 h2 {
    font-size: 20px;
    font-weight: 400;
}

#linkCard1 p {
    font-size: 16px;
    font-weight: 300;
}

#linkCard1 a {
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: #1F4850;
	padding: 0px;
    border: 0px;
}

#links2 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    /*position: absolute;*/
    width: 75%;
}

#linkCard2 {
    display: inline-block;
    width: 70%;
    margin: 2%;
    padding-right: 20px;
    border: 0px;
	text-align: right;
	vertical-align:center;
}

.imgCard {
	display: inline-block;
	width: 20%;
	vertical-align:center;
}
.imgCard img {
    width: 100%;
	border-radius: 50%;
}

#linkCard2 h2 {
    font-size: 20px;
    font-weight: 400;
}

#linkCard2 p {
    font-size: 16px;
    font-weight: 300;
}

#linkCard2 a {
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: #1F4850;
	padding: 0px;
    border: 0px;
}