body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

#wrapper {
    position: static;
    min-height: 100%;
}

/*---------------HEADER------------------------*/

#navbar {
    position: fixed;
    background-color: #1F4850;
    width: 100%;
    height: 80px; /*remember to change at #page padding*/
    opacity: 0.8;
}

#navbarLogo {
    position: absolute;
    height: 100%;
}

#navbarLogo img {
    height: 80%;
    padding-top: 5%;
}

#navbarMenu ul {
    float: right;
    padding-top: 10px;  
}

#navbarMenu li {
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 50px;
    display: inline-block;
}

#navbarMenu li a {
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    color: white;    
}

#navbarMenu ul ul
{
    display: none;
    padding: 0;
    margin-left: -30px;
	position:absolute;
	top: 100%;
    background: white;
    opacity: 0.8;
}

#navbarMenu ul ul li
{
    padding: inherit;
    display: block;
}

#navbarMenu ul ul a
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: left;
    color: black;
}

#navbarMenu li:hover > ul {
    display: block;
}


/*-----------------------FOOTER---------------*/
#footer {
    clear: both;
    position: static;
    width: 100%;
}

#footer1 {
    background-color: #333333;
    height: 110px;
    margin: 0;
    text-align: center;
}

#footer2 {
    margin: 0;
    height: 160px;
    background-color: #1F1F1F;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-align: center;
}

#footer2 ul {
    padding-top: 80px;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#footer2 li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}