/*---------------HEADER------------------------*/
#frontImage {
    /*position: absolute;*/
    width: 100%;
    height: 393px; /* remember to change at #page top*/
    /* The image used */
    background-image: url("../images/contact.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frontText {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    padding-top: 13%;
    color: white;
}

/*-----------------------Page----------*/

#page {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#pageText {
    width: 70%;
    margin: auto;
    margin-top: 90px;
}

#pageText h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

#pageText p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

#links {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    /*position: absolute;*/
    width: 75%;
}

.linkCard {
    display: inline-block;
    width: 45.7%;
    margin: 2%;
    text-align: center;
    padding: 0px;
    border: 0px;
    background-color: white;
}

.linkCard h2 {
    font-size: 20px;
    font-weight: 400;
}

.linkCard p {
    font-size: 16px;
    font-weight: 300;
}

.linkCard a {
    font-size: 16px;
    font-weight: 300;
    color: #1F4850;
}