/*---------------HEADER------------------------*/
#frontImage {
    /*position: absolute;*/
    width: 100%;
    height: 393px; /* remember to change at #page top*/
    /* The image used */
    background-image: url("../images/turntable_makerFaire.png");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frontText {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    padding-top: 13%;
    color: white;
}

/*-----------------------Page----------*/

#page {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#pageText {
    width: 70%;
    margin: auto;
    margin-top: 90px;
}

#pageText h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

#pageText p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 200%;
    text-align: justify;
}

#pageText iframe {
    display: block;
    margin: 0 auto;
}

#pageText img {
    display: block;
    margin: auto;
}
